@import "../../utilities/variables";
@import "../../utilities/mixins";
@import "node_modules/bootstrap/scss/vendor/rfs";

.home__intro {
	position: relative;
	padding-top: 140px;
	padding-bottom: 100px;
	color: get($colors, white);

	@include media-breakpoint-down(lg) {
		padding-top: 100px;
		padding-bottom: 80px;
	}

	&-bg {

		&-img {
			@include transition;

			position: absolute;
			top: 0;
			left: 0;
			opacity: 1;

			&:not(.is-current) {
				opacity: 0;
			}
		}

		&::after {
			@include pseudo;

			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.54) 45.32%, rgba(0, 0, 0, 0.75) 100%);
		}
	}

	&-wrapper {
		position: relative;
	}

	&-slider {
		&-slide {
			&-info {
				max-width: 610px;

				@include media-breakpoint-down(xl) {
					max-width: 480px;
				}

				@include media-breakpoint-down(lg) {
					max-width: 100%;
				}
			}

			&-title {
				font-size: 56px;
				font-weight: 400;
				line-height: 100%;
				letter-spacing: -0.055em;

				@include media-breakpoint-down(xl) {
					font-size: 40px;
				}

				@include media-breakpoint-down(lg) {
					font-size: 32px;
				}
			}

			&-desc {
				font-size: 20px;
				margin-top: 16px;
				margin-bottom: 40px;
				line-height: 125%;
				letter-spacing: -0.065em;

				@include media-breakpoint-down(xl) {
					font-size: 18px;
				}

				@include media-breakpoint-down(lg) {
					font-size: 16px;
					margin-bottom: 20px;
				}
			}

			&-button {
				// @include media-breakpoint-down(xl) {
				// 	font-size: 40px;
				// }
				@include media-breakpoint-down(lg) {
					width: 100%;
				}
			}
		}
	}

	&-list {
		display: flex;
		margin-top: 200px;

		@include media-breakpoint-down(lg) {
			flex-wrap: wrap;
			gap: 8px;
			margin-top: 40px;
		}
	}

	&-item {
		position: relative;
		width: 224px;
		padding: 20px;
		background: rgba(252, 252, 252, 0.1);
		backdrop-filter: blur(7.5px);
		border-radius: 16px;
		user-select: none;

		transition: all 0.3s ease-in-out;

		@include media-breakpoint-down(xl) {
			padding: 16px;
			font-size: 12px;
		}

		@include media-breakpoint-up(lg) {
			&:not(:first-child) {
				margin-left: 20px;
			}
		}

		@include media-breakpoint-down(lg) {
			width: 48.5%;
			font-size: 14px;
		}

		&:hover {
			background-color: get($colors, white);

			p {
				color: get($colors, black);
			}

			.svg-icon {
				fill: get($colors, black);
			}
		}

		p,
		.svg-icon {
			transition: all 0.3s ease-in-out;
		}

		p {
			font-weight: 500;
			margin-bottom: 0;
			line-height: 120%;
			letter-spacing: -0.065em;
			color: get($colors, alabaster);
			width: 90%;
		}

		.svg-icon {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 11px;
			height: 11px;
			fill: get($colors, white);
		}
	}

	.form__block {
		@include media-breakpoint-up(lg) {
			position: absolute;
			top: 0;
			right: 0;
		}

		@include media-breakpoint-down(lg) {
			// display: none;

			bottom: 0;
			left: 0;
			right: 0;
			// margin: 0 auto;
			max-width: 100%;
		}
	}

	.slider {
		// @include media-breakpoint-down(lg) {
		// 	padding-bottom: 400px;
		// }

		// @include media-breakpoint-down(sm) {
		// 	padding-bottom: 460px;
		// }

		&__controlls {
			@include media-breakpoint-up(lg) {
				position: absolute;
				bottom: 0;
				right: 0;
			}

			@include media-breakpoint-down(lg) {
				margin-top: 32px;
			}
		}
	}
}
