@import "../utilities/variables";

.section-bg-white {
  background: #f4f4f4;
}

.section-bg-more-white {
  background: #fcfcfc;
}

.link-highlight {
  display: block;
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;

  &::after {
    @include pseudo;

    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: get($colors, white);
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.form__block {
  display: flex;
  // position: absolute;
  // top: 0;
  // right: 0;
  z-index: 10;
  max-width: 433px;
  flex-direction: column;
  padding: 24px;
  color: get($colors, black);
  background-color: #fcfcfc;
  backdrop-filter: blur(12.5px);
  border-radius: 24px;

  @include media-breakpoint-down(lg) {
    padding: 20px;
  }

  &:not(.is-validating) {
    [type="submit"] {
      .spinner-form {
        display: none;
      }
    }
  }

  &.is-validating {
    [type="submit"] {
      span {
        opacity: 0;
      }
    }
  }

  &-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  &-agreement {
    display: flex;
    margin-top: 12px;

    p {
      line-height: 18px;
      letter-spacing: -0.065em;
    }

    a {
      position: relative;
      z-index: 2;
    }
  }

  .button {
    margin-top: 20px;
  }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    cursor: pointer;

    &:checked + span::after {
      opacity: 1;
    }

    // &.is-invalid {
    //   border: 1px solid get($colors, danger);
    // }

    &.is-invalid + span {
      border: 1px solid get($colors, danger);
      background-color: rgba(get($colors, danger), .1);
    }

    &.is-invalid + span + p {
      border: 1px solid get($colors, danger);
    }
  }

  span {
    display: flex;
    position: relative;
    width: 20px;
    height: 20px;
    background: #eaeaea;
    border-radius: 4px;
    border: 1px solid transparent;
    pointer-events: none;
    flex-shrink: 0;

    &::after {
      @include pseudo;
      @include transition;

      top: 2px;
      left: 2px;
      width: 14px;
      height: 14px;
      background: #191919;
      border-radius: 3px;
      opacity: 0;
    }
  }

  p {
    margin-left: 8px;
    padding: 1px;
  }
}

.radio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    cursor: pointer;

    &:checked + span::after {
      opacity: 1;
    }
  }

  span {
    display: flex;
    position: relative;
    width: 32px;
    height: 32px;
    background: #eaeaea;
    border-radius: 50%;
    pointer-events: none;
    flex-shrink: 0;

    &::after {
      @include pseudo;
      @include transition;

      top: 6px;
      left: 6px;
      width: 20px;
      height: 20px;
      background: #191919;
      border-radius: 50%;
      opacity: 0;
    }
  }

  p {
    margin-left: 8px;
    font-size: 20px;
  }
}

.slider {
  padding-bottom: 60px;

  &__controlls {
    display: flex;
    align-items: center;

    z-index: 10;
    width: 100%;

    // @include media-breakpoint-down(lg) {
    //   align-items: flex-end;
    // }
  }

  &__navigation {
    display: flex;

    &-button {
      @include transition;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      border: 1px solid get($colors, alabaster);
      border-radius: 50%;

      cursor: pointer;

      &.swiper-button-disabled {
        opacity: 0.5;
      }

      @include media-breakpoint-down(lg) {
        width: 32px;
        height: 32px;
      }

      .svg-icon {
        @include transition;

        stroke: get($colors, white);
        width: 12px;
        height: 12px;

        @include media-breakpoint-down(lg) {
          width: 8px;
          height: 8px;
        }
      }

      &:hover {
        // border-radius: 14px;
        background-color: get($colors, white);

        .svg-icon {
          fill: get($colors, black);
        }
      }

      &-prev {
        margin-right: 8px;

        .svg-icon {
          transform: rotate(90deg);
        }
      }

      &-next {
        .svg-icon {
          transform: rotate(-90deg);
        }
      }
    }
  }

  &__loader {
  }

  &__pagination {
    display: flex;

    &-bullet {
      @include transition;

      position: relative;
      display: flex;
      width: 16px;
      height: 4px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 24px;

      cursor: pointer;

      &:not(:first-child) {
        margin-left: 4px;
      }

      &-active {
        // width: 60px;
        background-color: #d9d9d9;

        // &::after {
        //   @include pseudo;

        //   top: 0;
        //   left: 0;
        //   // width: 100%;
        //   height: 100%;
        //   background-color: #d9d9d9;
        //   animation-duration: 3.5s;
        //   animation-name: progressbar;
        // }
      }
    }

    &.slider__pagination--ver-1 {
      .slider__pagination-bullet {
        &-active {
          width: 60px;
          background: rgba(255, 255, 255, 0.2);

          &::after {
            @include pseudo;

            top: 0;
            left: 0;
            // width: 100%;
            height: 100%;
            background-color: #d9d9d9;
            animation-duration: 3.5s;
            animation-fill-mode: forwards;
            animation-name: progressbar;
            border-radius: 24px;
          }
        }
      }
    }
  }
}

@keyframes progressbar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.spinner-form {
  width: 18px;
  height: 18px;
}

.menu__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  opacity: 0.5;
  background-color: get($colors, black);
}

.element-animation {
  opacity: 0;
  transform: translateY(20px);

  &.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
  }
}

.controlls {
  display: flex;
  margin-bottom: 40px;

  @include media-breakpoint-up(lg) {
    position: relative;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 20px;
  }

  &-item {
    @include transition;

    padding: 20px 32px;
    border-radius: 32px;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    font-weight: 500;
    letter-spacing: -0.045em;
    background: #efefef;
    color: #191919;
    user-select: none;

    &:not(.is-active) {
      cursor: pointer;
    }

    &.is-active {
      color: #fcfcfc;
      background: #191919;
    }

    &:not(:first-child) {
      margin-left: 20px;

      @include media-breakpoint-down(lg) {
        margin-left: 8px;
      }
    }

    @include media-breakpoint-down(lg) {
      padding: 13px;
      width: 125px;
      font-size: 14px;
    }
  }
}

.pagination {
  margin-top: 60px;
  display: flex;
  align-items: center;

  @include media-breakpoint-up(md) {
    justify-content: center;
  }

  @include media-breakpoint-down(lg) {
    margin-top: 24px;
  }

  // @include media-breakpoint-down(lg) {
  //   width: 100%;
  // }

  &__list {
    display: flex;

    @include media-breakpoint-down(md) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__button,
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #fcfcfc;
    border-radius: 50%;

    &:not(:first-child) {
      margin-left: 8px;
    }

    @include media-breakpoint-down(md) {
      width: 32px;
      height: 32px;
    }
  }

  &__content {
    display: flex;
  }

  &__button {
    @include transition;
    // opacity: 0.5;
    cursor: pointer;

    .svg-icon {
      @include transition;
      width: 12px;
      height: 12px;
    }

    @include media-breakpoint-down(lg) {
      .svg-icon {
        width: 8px;
        height: 8px;
      }
    }

    &:hover {
      background-color: #191919;

      .svg-icon {
        fill: get($colors, white);
      }
    }

    &-prev {
      margin-right: 16px;

      .svg-icon {
        transform: rotate(90deg);
      }
    }

    &-next {
      margin-left: 16px;

      .svg-icon {
        transform: rotate(-90deg);
      }
    }
  }

  &__item {
    user-select: none;

    cursor: pointer;

    span {
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.055em;
      color: #191919;

      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }

    &.is-active {
      background: #191919;
      color: #fcfcfc;
    }
  }
}

.share {
  @include transition;

  position: relative;
  margin-left: 8px;

  cursor: pointer;

  &.is-active {
    .share__content {
      transform: translateY(0);
      opacity: 1;
      user-select: auto;
      pointer-events: auto;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: #fcfcfc;
    border-radius: 40px;

    .svg-icon {
      width: 24px;
      height: 24px;
    }
  }

  &__content {
    @include transition;

    position: absolute;
    top: calc(100% + 10px);
    padding: 24px;
    background: #fcfcfc;
    border-radius: 24px;
    z-index: 2;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    transform: translateY(10px);
    // margin-top: 10px;

    @include media-breakpoint-up(lg) {
      left: 0;
    }

    @include media-breakpoint-down(lg) {
      right: 0;
    }

    &-list {
      display: flex;
    }

    &-item {
      @include transition;

      width: 32px;
      height: 32px;
      background: #ececec;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      .svg-icon {
        @include transition;

        stroke: #191919;
        fill: #191919;
        width: 20px;
        height: 20px;
      }

      &:not(:first-child) {
        margin-left: 16px;
      }

      &:hover {
        background: #191919;

        .svg-icon {
          fill: #d9d9d9;
          stroke: #d9d9d9;
        }
      }
    }
  }
}

.filter-element {
  transition: all 0.25s ease-in-out;
  overflow: hidden;

  &.is-hidden {
    width: 0;
    padding: 0;
  }
}

.mask {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.15s ease-in-out;
  width: 100%;
  outline: none;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  // padding: 14px 16px;
  padding: 14px 0;
  margin-bottom: 16px;

  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    color: get($colors, danger);
    font-size: 0.76562rem;

    &:not(.is-active) {
      display: none;
    }
  }

  .form__group-notify {
    bottom: -16px !important;
  }

  .iti {
    display: flex;
    width: 100%;
  }

  .iti__dropdown-content {
    margin-top: 20px;
    z-index: 5;
  }

  .iti__country-name {
    font-size: 12px;

    @include media-breakpoint-down(lg) {
      font-size: 10px;
    }
  }

  .iti__dial-code {
    font-size: 12px;

    @include media-breakpoint-down(lg) {
      font-size: 10px;
    }
  }

  input {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    border: none;
    outline: none;
  }

  // & > input {
  //   outline: none;
  //   border: none;
  //   height: 100%;
  //   width: 85%;
  // }

  &__switcher {
    height: 100%;
    width: 15%;
    cursor: pointer;

    &.is-active {
      .mask__switcher-button {
        &-arrow {
          .svg-icon {
            transform: rotate(180deg);
          }
        }
      }

      .mask__switcher-content {
        display: block;
      }
    }

    &-button {
      display: flex;
      align-items: center;

      &-icon {
        .svg-icon {
          width: 16px;
          height: 12px;
        }
        margin-right: 6px;
      }

      &-arrow {
        .svg-icon {
          width: 10px;
          height: 10px;
          flex-shrink: 0;
        }
      }
    }

    &-content {
      display: none;
      position: absolute;

      top: calc(100% + 4px);
      left: 0;
      z-index: 5;
      // padding: 5px;
      border-radius: 6px;
      background-color: white;

      // width: 385px;
      width: 100%;
      box-shadow: 0px 5px 8px 0px #00000021;

      input {
        outline: none;
        border: none;
        width: 100%;
        padding: 12px 16px;
      }
    }

    &-list {
      border: 1px solid #eaeaea;
      overflow: auto;
      height: 260px;

      @include media-breakpoint-down(lg) {
        height: 220px;
      }
    }

    &-item {
      @include transition;

      display: flex;
      align-items: center;
      padding: 12px 16px;
      background-color: #fcfcfc;

      @include media-breakpoint-down(lg) {
        padding: 10px 12px;
      }

      &:hover,
      &.is-current {
        background-color: #f7f7f7;
        // background-color: red;
      }

      .svg-icon {
        width: 16px;
        height: 12px;
      }
      // img {
      //   width: 16px;
      //   height: 12px;
      // }

      .country {
        font-size: 13px;
        margin-left: 8px;
        margin-right: 8px;

        @include media-breakpoint-down(lg) {
          font-size: 11px;
          margin-left: 6px;
          margin-right: 6px;
        }
      }

      .start {
        color: #aeaeae;

        @include media-breakpoint-down(lg) {
          font-size: 11px;
        }
      }
    }
  }
}

.sqrt {
  &__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-right: 8px;

    .svg-icon {
      width: 7px;
      height: 7px;
      flex-shrink: 0;
      margin-left: 4px;
    }

    &.is-active {
      .svg-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    position: absolute;
    display: flex;
    // padding: 5px;
    background-color: white;
    z-index: 10;
    width: auto;
    // max-width: 50px;
    box-shadow: 0px 5px 8px 0px #00000021;
    border-radius: 6px;
    padding: 0;
    overflow: hidden;

    &:not(.is-active) {
      display: none;
    }

    ul {
      margin-bottom: 0;
    }

    li {
      @include transition;
      position: relative;
      padding: 8px 12px;

      cursor: pointer;

      &:hover {
        background-color: #e9e9e9;
      }
    }

    li + li {
      &::after {
        @include pseudo;

        top: 0;
        left: calc(50% - calc(35px / 2));
        width: 35px;
        height: 1px;
        background-color: #e9e9e9;
      }
    }
  }
}

.is-hidden {
  display: none;
}
