@import "../utilities/variables";
@import "node_modules/bootstrap/scss/vendor/rfs";

.title {
  color: #191919;

  user-select: none;

  &-big {
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.065em;

    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }
  }

  &-medium {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.035em;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }
  }

  &-section {
    margin-bottom: 40px;
  }
}
