extends ../layout/main

block mainVariables
	- pageTitle = 'Карточка объекта';
	- pageRootClass = 'card';
	- pageId = 'js-page-card'
	- activeNavIndex = 0

block mainContent

	include ../components/card/intro
	include ../components/card/details
	include ../components/card/layouts
	include ../components/card/about
	include ../components/card/advantages
	include ../components/card/gallery
	include ../components/card/consultation
	include ../components/card/locations
	include ../components/card/anotherproducts
	include ../components/home/news

	section.section-bg-white.home__consultation
		.container
			.consultation__wrapper
				+lazyImage({
					imageSrc: 'img/home/consultation-bg',
					type: 'background',
					classes: 'w-100 h-100 consultation__bg',
					imageClasses: 'w-100 h-100',
				})
				.consultation__content.element-animation
					.row.justify-content-between
						.col-12.col-lg-6.col-xl-auto
							.consultation__block
								h2.consultation__title Получите бесплатную консультацию
								p.consultation__subtitle Оставьте свои контактные данные, чтобы получить консультацию
						.col-12.col-lg-6.col-xl-auto
							form(class=['js-form-validate'] data-lang="ru").form__block
								.row
									.col-12
										+field({
											type: 'text',
											placeholder: 'Имя',
											classes: '',
											validate: true
										})
									.col-12
										+phoneField()
										//- div(class="form__group mask js-mask js-group-validate is-need-validate is-invalid")
										//- 	div(data-current-country="RU").mask__switcher.js-mask-switcher
										//- 		.mask__switcher-button.js-mask-switcher-button
										//- 			img(src="img/flags/flag-russia.png" alt="flag")
										//- 			+icon('arrow-down')
										//- 		.mask__switcher-content
										//- 			input(type="search" name="country-search" placeholder="Поиск")
										//- 			.mask__switcher-list.js-mask-switcher-content
										//- 	input(class="js-phone-mask js-field-validate" type="tel", required placeholder="Телефон")
										//- +field({
										//- 	type: 'tel',
										//- 	placeholder: 'Телефон',
										//- 	classes: 'js-phone-mask',
										//- 	validate: true
										//- })
									.col-12
										+field({
											type: 'email',
											placeholder: 'Почта',
											classes: 'js-email-mask',
										})
								.form__block-agreement
									.checkbox
										input(type="checkbox" name="agreement" required).is-need-validate
										span
										p.mb-0 Я даю согласие на обработку персональных данных в соответствии с #[a(href="#" class="text-danger") Политикой конфиденциальности]
								button(type="submit" class="button button-black")
									span Отправить
									.spinner-border.spinner-form(role='status') 