extends ../layout/main

block mainVariables
	- pageTitle = 'Главная';
	- pageRootClass = 'home';
	- pageId = 'js-page-home'
	- activeNavIndex = 0

block mainContent

	.section-animation
		include ../components/home/intro

	.section-animation
		include ../components/home/information
		include ../components/home/catalog

	.section-animation
		include ../components/home/quiz

	.section-animation
		include ../components/home/additional
		include ../components/home/services

	.section-animation
		include ../components/home/news
		include ../components/home/managers
		include ../components/home/consultation
