extends ../layout/main

block mainVariables
	- pageTitle = 'Главная';
	- pageRootClass = 'home-no-slider';
	- pageId = 'js-page-home'
	- activeNavIndex = 0

block mainContent

	.section-animation
		section.home__intro

			-
				homeIntroList = [
					{
						text: "Подбор объекта в соответствии с финансовыми целями и риск-профилем инвесторов",
					},
					{
						text: "Работа на первичном и вторичном рынке, флиппинг, ипотечные сделки",
					},
					{
						text: "Полное юридическое и документальное сопровождение на каждом этапе сделки",
					},
					{
						text: "Ориентация на долгосрочное сотрудничество и «Win-Win» стратегия",
					},
				]

			.home__intro-bg
				+lazyImage({
					imageSrc: 'img/home/home-bg',
					type: 'background',
					classes: 'w-100 h-100 home__intro-bg-img is-current js-intro-bg-element',
					imageClasses: 'w-100 h-100',
				})
			.container
				.home__intro-wrapper.element-animation
					.home__intro-slider-slide-info
						h1.home__intro-slider-slide-title Покупка и продажа недвижимости в Дубае
						p.home__intro-slider-slide-desc Разработка индивидуальной инвестиционной стратегии с целью получения высокого ROI и капитализации объекта
						a(href="#" class="button button-primary home__intro-slider-slide-button")
							span Подробнее
					.home__intro-list
						each item in homeIntroList
							.home__intro-item
								p #{item.text}
								+icon('angle')

					form(class=['js-form-validate']).form__block#form-intro
						h2.form__block-title Подайте заявку на бесплатную консультацию
						.row
							.col-12
								+field({
									type: 'text',
									placeholder: 'Имя',
									classes: '',
									validate: true
								})
							.col-12
								+field({
									type: 'phone',
									placeholder: 'Телефон',
									classes: 'js-phone-mask',
									validateLength: 18,
									validate: true
								})
							.col-12
								+field({
									type: 'email',
									placeholder: 'Почта',
									classes: '',
								})
						.form__block-agreement
							.checkbox
								input(type="checkbox" name="agreement" required="true").is-need-validate
								span
								p.mb-0 Я даю согласие на обработку персональных данных в соответствии с #[a(href="#" class="text-danger") Политикой конфиденциальности]

						button(type="submit" class="button button-black")
							span Отправить
							.spinner-border.spinner-form(role='status')

	.section-animation
		include ../components/home/information
		include ../components/home/catalog

	.section-animation
		include ../components/home/quiz

	.section-animation
		include ../components/home/additional
		include ../components/home/services

	.section-animation
		include ../components/home/news
		include ../components/home/managers
		include ../components/home/consultation
