@import "../../utilities/variables";
@import "../../utilities/mixins";
@import "node_modules/bootstrap/scss/vendor/rfs";

.card__layouts {
  padding-bottom: 100px;

  @include media-breakpoint-down(lg) {
    padding-bottom: 60px;
  }

  .catalog__item-info-table-row {
    
    span {
      font-size: 16px;

    }

    .form__group {
      font-size: 16px;
    }
  }

  .layouts {
    &__slider {

      padding-bottom: 40px;

      &-slide {
        padding: 30px;
        background: #fcfcfc;
        border-radius: 24px;

        @include media-breakpoint-down(lg) {
          padding: 20px;
        }

        .sqrt__button {
            margin-right: 0;
          }

        &-title {
          font-weight: 500;
          font-size: 24px;
          line-height: 120%;
          letter-spacing: -0.035em;

          color: #000000;
        }

        .button {
          width: 160px;
          padding: 16px;
          margin-top: 30px;

          @include media-breakpoint-down(lg) {
            width: 100%;
          }
        }

        .catalog__item-info-table {

          &-sqrt {
            position: relative;
          }

          &-row {
            display: flex;
            justify-content: space-between;

            span {
              color: #191919;
            }

            .sqrt__content {
              top: 100%;
              right: 0;
            }
          }

          &-furniture {
            text-align: start;
            margin: 0;
          }
        }
      }

      .slider__pagination {
        @include media-breakpoint-up(lg) {
          display: none;
        }

        @include media-breakpoint-down(lg) {
          justify-content: center;
          margin-top: 30px;

          &-bullet {
            background: rgba(0, 0, 0, 0.2);

            &-active {
              background: #191919;
            }
          }
        }
      }

      .slider__navigation-button {
        position: absolute;
        // background-color: get($colors, black);
        border-color: rgba(#191919, .5);

        .svg-icon {
          fill: rgba(#191919, .5);
        }

        &:hover {
          background-color: transparent;
        }

        @include media-breakpoint-up(lg) {
          display: none;
        }

        &-prev,
        &-next {
          bottom: 30px;
        }

        &-prev {
          left: 0;
        }

        &-next {
          right: 0;
        }
      }
    }
  }
}
