section.section-bg-white.card__about
  .container
    .about__wrapper.element-animation
      .row.justify-content-between
        .col-12.col-xl-6.col-xxl-5
          .about__content
            h2.title.title-big.about__title Об объекте
            .about__desc 
              p Основная идея, которая прослеживается в дизайне здания Binghatti Hills и в прилежащих к нему территориях, это добиться баланса между динамичной городской жизнью и спокойным отдыхом. Изящные наклоны, мягкие закругленные углы и волнообразные элементы стремятся запечатлеть безмятежность, а четкость линий и шахматная архитектура отражают практичность и инновационность.
              p Такое сочетание позволяет почувствовать здесь гармонию и в полной мере насладиться ощущением дома. Порадуйте себя отдыхом на искусственном пляже, помедитируйте в безмятежных садах или проявите себя на множестве спортивных площадок - и все это на фоне грандиозной архитектуры.
            a(href="#" class="button button-black")
              span Уточнить детали
        
        .col-12.col-xl-6
          +lazyImage({
            imageSrc: 'img/card/card-about-img',
            type: 'background',
            classes: 'w-100 h-100 ratio about__img',
            imageClasses: 'w-100 h-100',
          })