section.card__intro

  .card__intro-bg
    +lazyImage({
      imageSrc: 'img/card/card-bg',
      type: 'background',
      classes: 'w-100 h-100 card__intro-bg-img',
      imageClasses: 'w-100 h-100',
    })

  .container
    +breadcrumbs([
      {
        name: 'Главная',
        href: 'home.html'
      },
      {
        name:'Binghatti Hills'
      }
    ])

  .container

    .intro__wrapper
      .row.justify-content-between
        .col-12.col-lg-5.element-animation
          .intro__content
            h1.intro__title Binghatti Hills
            p.intro__subtitle Баланс активного отдыха и гармонии
            a(href="#" class="button button-primary")
              span Скачать брошюру 

        .col-12.col-lg-auto.ms-auto.element-animation
          form(class=['js-form-validate']).form__block#form-intro
            h2.form__block-title Подайте заявку на бесплатную консультацию
            .row
              .col-12
                +field({
                  type: 'text',
                  placeholder: 'Имя',
                  classes: '',
                  validate: true
                })
              .col-12
                +phoneField()
                //- div(class="form__group mask js-mask js-group-validate is-need-validate is-invalid")
                //-   div(data-current-country="RU").mask__switcher.js-mask-switcher
                //-     .mask__switcher-button.js-mask-switcher-button
                //-       img(src="img/flags/flag-russia.png" alt="flag")
                //-       +icon('arrow-down')
                //-     .mask__switcher-content
                //-       input(type="search" name="country-search" placeholder="Поиск").js-mask-switcher-search
                //-       .mask__switcher-list.js-mask-switcher-content
                //-   input(class="js-phone-mask js-field-validate" type="tel", required placeholder="Телефон")
                //- +field({
                //-   type: 'tel',
                //-   placeholder: 'Телефон',
                //-   classes: 'js-phone-mask',
                //-   validate: true
                //- })
                //- validateLength: 18,
              .col-12
                +field({
                  type: 'email',
                  placeholder: 'Почта',
                  classes: 'js-email-mask',
                })
            .form__block-agreement
              .checkbox
                input(type="checkbox" name="agreement" required).is-need-validate
                span
                p.mb-0 Я даю согласие на обработку персональных данных в соответствии с #[a(href="#" class="text-danger") Политикой конфиденциальности]

            button(type="submit" class="button button-black")
              span Отправить
              .spinner-border.spinner-form(role='status')

      .intro__installment.element-animation
        +icon('percent')
        p.mb-0 Рассрочка во время строительства 50%