@import "../../utilities/variables";
@import "../../utilities/mixins";
@import "node_modules/bootstrap/scss/vendor/rfs";

.page--team {
  .header {
    .header__wrapper {
      background-color: transparent;
      border-radius: 0px 0px 24px 24px;

      .header__logo {
        .svg-icon {
          fill: get($colors, black);
        }
      }

      .header__burger {
        &::before,
        &::after,
        span {
          background-color: get($colors, black);
        }
      }

      .header__content {
        background-color: get($colors, white);
      }

      .header__nav-link {
        color: get($colors, black);

        &.link-highlight {
          &::after {
            background-color: get($colors, black);
          }
        }
      }

      .header__phone {
        color: get($colors, black);
      }

      .header__langswitcher {
        background-color: get($colors, black);

        &-item {
          input {
            &:checked + label {
              color: get($colors, white);
            }
          }
        }
      }
    }
  }
}

.team__consultation {
  padding-top: 135px;

  .consultation__wrapper {
    background: #ffffff;
  }

  .consultation__block {
    background: #f7f7f7;
  }

  .consultation__content {
    @include media-breakpoint-down(lg) {
      p {
        margin-bottom: 40px;
      }
    }
  }

  .team {
    &__title {
      font-weight: 400;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -0.055em;
      color: #191919;
      margin-bottom: 40px;

      @include media-breakpoint-down(lg) {
        font-size: 32px;
        margin-bottom: 20px;
      }
    }
  }
}

.team__departament {
  position: relative;
  padding-top: 135px;
  padding-bottom: 100px;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    .swiper {
      // overflow: visible;

      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }

      &-slide {
        // margin-bottom: 20px;
        height: auto;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .controlls {
      position: relative;
    }

    .swiper {
      overflow: visible;
      width: 100%;
    }
  }

  .team {
    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    &__title {
      font-weight: 400;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -0.055em;
      color: #191919;

      @include media-breakpoint-down(lg) {
        font-size: 32px;
      }
    }

    &__button {
      @include media-breakpoint-down(lg) {
        margin-top: 16px;
        width: 100%;
      }
    }
  }

  .title {
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  .slider__navigation {
    position: absolute;
    top: -75px;
    right: 0;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    &-button {
      border: 1px solid #191919;
    }
  }

  .controlls-item {
    width: auto;
    // font-weight: 500;

    &:not(.is-active) {
      background-color: #fcfcfc;
    }
  }

  .swiper-slide {
    width: fit-content;
  }
}
